body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(119, 117, 117);
    margin-top: 4%;
    margin-left: 4%;
}
.head{
    text-align: center;
}

.sub-head{
    text-align: center;
    margin-right:20px ;
    margin-left: 20px; 
}
.title{
    display: inline-block;
}
table {
    font-family: arial,sans-serif;
    border-collapse: collapse ;
    width: 50% ;
}
td,th{
    border: 1px solid burlywood;
    text-align: center;
    padding: 8px;
}
tr:nth-child(odd){
    background-color: aliceblue;
}
.content{
    padding-left: 30px;
}